<body >
	<div class = "emaillist">
		<table class = "table table-bordered">
			<tr>
				<th>
					id
				</th>
				<th>
					name
				</th>
				<th>
					email
				</th>
				<th>
					zipcode
				</th>
				<th>
					Referrals
				</th>
			</tr>
			<% @email_list.each do |email| %>
			<tr>
				<td>
					<%= email.id %>
				</td>
				<td>
					<%= email.name %>
				</td>
				<td>
					<%= email.email %>
				</td>
				<td>
					<%= email.zipcode %>
				</td>
				<td>
					<%= email.referrals.count %>
				</td>
				<td>
					<%= root_url %>?ref=<%= email.referral_code %>
				</td>
				<td>
					<%= email.created_at %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</body>
