
<% @title = "demere" %>
<% provide(:title, 'Sign up') %>

<div class = "wrapper">

  <% flash.each do |message_type, message| %>
  <div class="flash <%= message_type if message.length > 0 %>"><p><%= message if message.length > 0 %></p>
  </div>
  <% end %>

  <!--  Home Section-->

  <h1 class = "header logo">demere</h1>

  <!-- Hero Banner -->
  <div id = "hero">
    <p id = "hero-title">DRESS WITH CONFIDENCE</p>

    <div class = "hero-signup-contain">
      <div class = "hero-signup-backdrop">
      </div>
      <div class = "hero-signup-content">
        <div class = "hero-signup-form">
          <div class = "loginhead">
            <p class = "loginboxhead head">Thanks!</p>
            <p class = "loginboxhead">we just need a bit more information</p>
          </div>
          <%= form_for(@email, :url => wizard_path, :method => :put) do |f| %>
          <div class = "flex-form">
            <div class="form-group">
              <%= f.text_field :name, required: true, placeholder: "name",  class: "index-form", autocomplete: 'off'%>
            </div>
            <div class="form-group">
              <%= f.text_field :zipcode, required: true, placeholder: "zip code",  class: "index-form", autocomplete: 'off'%>
            </div>

            <div class = "form-submit">
              <button class = "btn-sm">next</button>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Index Infographic section -->
  <div id = "index-ig">
    <div class = "index-ig-section">
      <div class = "index-ig-text">
        <h2 class = "index-ig-head">Build Your Closet</h2>
        <p class = "index-ig-body"> Take pictures of your clothing and accessories and upload them to your virtual closet. </p>
      </div>
      <%= image_tag("LandingInfoOne.svg" , alt: "Build Closet", class: "index-ig-img") %>
    </div>
    <div class = "index-ig-section">
      <div class = "index-ig-text ig-text-right">
        <h2 class = "index-ig-head">Create an Outfit</h2>
        <p class = "index-ig-body"> Create customized outfits enhanced by our suggestions in seconds.</p>
      </div>
      <%= image_tag("LandingInfoTwo.svg" , alt: "Create Outfit", class: "index-ig-img") %>
    </div>
    <div class = "index-ig-section">
      <div class = "index-ig-text">
        <h2 class = "index-ig-head">Get Suggestions</h2>
        <p class = "index-ig-body">Receive multiple outfit suggestions based on the weather or event you are attending.</p>
      </div>
      <%= image_tag("LandingInfoThree.svg" , alt: "Get Suggestions", class: "index-ig-img") %>
    </div>
  </div>
  <div id = "homeinfobar">
    <div class = "homeinfoback"></div>
    <h2 class = "infoparahead">Technology. Fashion. Shopping. </h2>
    <p class = "infopara" id = "infolightbox">Demere is combining these three areas to help save you time, money, and energy when getting dressed and shopping. By using proprietary image recognition capabilities we can suggest what you should wear based on items in your closet and ways to enhance your wardrobe. All this within seconds of logging onto our platform.</p>
    <button class = "infomodal" data-featherlight = "#infolightbox"> Learn more! </button>
  </div>
  <div id = "index-info">
      <div class = "index-info-contain">
        <p class = "index-info-head">Online suggestions</p>
        <p class = "index-info-body">Save time on scouring the web for the perfect match for your wardrobe by using our online purchasing suggestions</p>
        <!-- <button class = "extra-info-modal-button extra-one"> Learn more! </button> -->
      </div>
      <div class = "index-info-contain">
        <p class = "index-info-head">Instore purchasing</p>
        <p class = "index-info-body">No longer fear buying something you already have or something that doesn't match your closet with our instore assistance!</p>
        <!-- <button class = "extra-info-modal-button extra-two"> Learn more! </button> -->
      </div>
      <div class = "index-info-contain">
        <p class = "index-info-head">Clothing is Social</p>
        <p class = "index-info-body">Wondering what your favorite celebrity is wearing? Trying to match outfits with your best friend tomorrow? Our social aspect makes this all possible!</p>
        <!-- <button class = "extra-info-modal-button extra-three"> Learn more! </button> -->
      </div>
  </div>
  <div id = "signupbar">
    <button id = "sign-up-btn">Sign up for free!</button>
  </div>
  <div id = "footer">
    <div class = "footer-contact">
      <p class = "footer-contact-head footer-link"> Want to get in touch with us? </p>
      <p class = "footer-link">(202) 735 1541</p>
      <a class = "footer-link" href="mailto:team@demere.co">team@demere.co</a>
    </div>
    <div class = "footer-social">
      <a href = "https://www.facebook.com/demereapp?_rdr=p" class = "fb" target="_blank"></a>
      <a href = "https://twitter.com/demereapp" class = "twit" target="_blank"></a>
    </div>
    <p class="copyright text-muted small">Copyright &copy; Demere 2015</p>
  </div>
</div>
