<% @title = "Demere" %>

<%= render 'layouts/header' %>
<% provide(:title, 'Sign up') %>
<div class = "container-fluid">
<div class = "main main-body">
  <div class = "helper-right col-md-6 col-md-offset-8 col-sm-offset-6 col-xs-offset-2 col-sm-12 col-xs-12">
    <div class="form">
        <div class = "sign_up_flash">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <div class = "sign_up_form">
          <p class = "motto"> Look good, </p>
          <p class = "motto"> live better. </p>

          <p class = "signuptoday"> Sign up today: </p>
          <%= form_for(@email) do |f| %>
            <div class = "form-group">
            <%= f.email_field :email, placeholder: "EMAIL ADDRESS", autofocus: true,:class => "form-control"%>
            <%= f.submit "GO", class: "btn btn-primary", :class => "form-go btn"%>
            </div>
          <% end %>
        </div>
  </div>
</div>
</div>
</div>