<%= render 'layouts/header' %>
<% provide(:title, 'Sign up') %>
<div class = "body">
  <div class= "right-col">
  </div>
  <div class = "helper-right">
    <div class="form col-md-12 col-md-offset-3">
        <div class = "sign_up_flash">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <div class = "sign_up_form">
          <p class = "motto"> Look good, </p>
          <p class = "motto"> live better. </p>

          <p class = "signuptoday"> Sign up today: </p>
          <%= form_for(@email) do |f| %>
            <div class = "form-group">
            <%= f.email_field :email, placeholder: "EMAIL ADDRESS", :class => "form-control"%>
            <%= f.submit "GO", class: "btn btn-primary", :class => "form-go btn"%>
            </div>
          <% end %>
        </div>
  </div>
</div>
</div>