<% @title = "Demere" %>


<div class = "refer helper">
</div>

<div class = "wrapper">
	<div class = "signup-block">
		<div class = "signup-box"></div>
		<div class = "signup-content">
			<div class = "signup-header">
				<div class = "content">
					<p class = "signup-thanks"> Invite friends and earn rewards with</p>
					<p class = "signup-thanks"> your personal referral code below. </p>
				</div>
			</div>

			<div class = "signup-body">
				<div class = "copy-link">
					<p class = "referral"><%= root_url %>?ref=<%= @email.referral_code %></p>
				</div>

				<!-- Tweet message when shared  -->
				<% tweet = "The next big thing is here...@DemereApp has launched for signups! Use my referral code and discover it for yourself!" %>

				<div class = "social-links">
					<a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@email.referral_code) %>&title=Demer" class="fb" target="_blank"></a>
					<a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@email.referral_code) %>&text=<%= CGI::escape(tweet) %>" class="twit" target="_blank"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Finds the appropriate reward level based on the amount of referalls a user has -->
<%
refer_count = @email.referrals.count

stops = Email::REFERRAL_STEPS
found = nil

stops.reverse_each { |stop|
	if stop["count"] <= refer_count and !found
		stop["selected"] = true
		found = stop
	else
		stop["selected"] = false
	end
}
%>


<div class = "rewards-block-inner">
	<% if @email.visited %>
	<p class = "signup-logo">Welcome back! Now share with your friends!</p>
	<% else %>
	<p class = "signup-logo">Thank you for signing up! Now share with your friends!</p>
	<% end %>
	<p class = "signup-sub">Each friend you refer earns you one raffle ticket for a chance to win a pair of Ray-Bans!</p>
	<div class = "refer-count">
		You have invited <span class = "refer-count-number"><%= refer_count%></span>
		<%= if refer_count == 0 then "friends" elsif refer_count == 1 then "friend" else "friends" end %>
	</div>
	<div class = "rewards-bar-block">
		<%= if refer_count >= 100 then image_tag "ReferralBar_5.png", :class => "rewards-bar"
		elsif refer_count >= 50 then image_tag "ReferralBar_4.png", :class => "rewards-bar"
		elsif refer_count >= 25 then image_tag "ReferralBar_3.png", :class => "rewards-bar"
		elsif refer_count >= 5 then image_tag "ReferralBar_2.png", :class => "rewards-bar"
		elsif refer_count >= 1 then image_tag "ReferralBar_1.png", :class => "rewards-bar"
		else image_tag "ReferralBar_0.png", :class=> "rewards-bar" end%>
	</div>
</div>
